/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b3d0b; /* Poker table green */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.room {
    position: relative;
    width: 1200px;
    height: 840px;
    background-color: #145214;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Home Button */
.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Opponents */
.opponents-hands {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#opponent1, #opponent2, #opponent3 {
    width: 180px;
    height: 160px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
    gap: 40px;
    
}


#opponent1 .card:nth-child(3) { transform: rotate(-5deg); margin-left:0px;}
#opponent1 .card:nth-child(4) { transform: rotate(5deg); }


#opponent2 .card:nth-child(3) { transform: rotate(-5deg); margin-left: 0px;}
#opponent2 .card:nth-child(4) { transform: rotate(5deg); }


#opponent3 .card:nth-child(3) { transform: rotate(-5deg); margin-left: 0px;}
#opponent3 .card:nth-child(4) { transform: rotate(5deg); }


/* Positioning Opponents */
#opponent1 {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#opponent2 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#opponent3 {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table Area */
.table {
    width: 720px;
    height: 360px;
    background-color: #0b3d0b;
    border-radius: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.community-cards {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    margin-left: 40px;
    gap: 100px;
    margin-bottom: 60px;
}


.community-cards .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.community-cards .card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}


.deck, .pot, .action-box {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck {
    width: 80px;
    height: 100px;
}

.pot {
    width: 80px;
    height: 80px;

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(6px);
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-align: center;

}

.action-box {
    width: 300px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Player Area */
.player-area {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 160px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

.player-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}


.player-hand .card:nth-child(1) { transform: rotate(-5deg); margin-left: 0px;}
.player-hand .card:nth-child(2) { transform: rotate(5deg); }



.card {
    width: 80px;
    height: 120px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    margin-left: -100px;
    padding: 5px;
    transform: translateX(50px);
    position: relative;
    transition: transform 1s ea;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


.card:hover {
    box-shadow: 0 8px 16px rgba(255,255,255,0.4);
}



.red-card {
    color: crimson;
}

.red-card p {
  margin: 0;
}


.deck-card {
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 1);
}

.black-card {
    color: #333;
}

.top-left {
    position: absolute;
    top: 5px;
    left: 5px;
}

.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;
    transform: rotate(180deg);
}

.black-card p {
  margin: 0;
}

.card-image {
    max-width: 80%;
    max-height: 60%;
    object-fit: contain;
    position: absolute;
    top: 55px;
    left: 15px;
}

.card-back {
    position: relative;
    width: 66px;
    height: 105px;
    border-radius: 10px;
    border: 0;
    background: repeating-linear-gradient(
    45deg,
    #004080,
    #004080 10px,
    #ffffff 10px,
    #ffffff 20px
    );
    padding: 5px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s;
  border-color: red;
}

.first-button {
    padding: 8px 16px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    background-color: #3498db; /* blue */
    color: #fff;
    z-index: 9999;
}

.second-button {
    padding: 8px 16px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    background-color: #3498db; /* red */
    color: #fff;
    z-index: 9999;
}

.third-button {
    padding: 8px 16px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    background-color: #e74c3c; /* red */
    color: #fff;
    z-index: 9999;
}



.first-button:hover,
.second-button:hover,
.third-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    font-size: 1.1em;
    padding: 10px 20px;

}

.input-box {
    padding: 10px 15px;
    font-size: 1em;
    border: 2px solid #ffffff33;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #f0f0f0;
    width: 250px;
    outline: none;
    transition: border-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}


.name-box {
    position: absolute;
    top: 100%; /* Places it just below the parent */
    left: 40;
    width: 200px;
    background: linear-gradient(135deg, #6a5acd, #836fff);
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.name-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.home-button {
  font-size: 3em;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  grid-area: home;

  width: 60px;                
  height: 60px;               
  display: flex;               
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


#opponent1 .card,
#opponent2 .card,
#opponent3 .card,
.player-hand .card {
    transform-origin: bottom centre;
    transition: transform 0.5s ease;
}
